body{
  background-image: url("./image/8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 55px;
}

.App {
  text-align: center;
 

  opacity:50;
   /* display: flex; */
   /* align-items: flex-start; */
   /* flex-direction: row; */
   
   

}

.container {
 
  width: 230px;
  height: 250px;
 
  border-radius: 4px;
  display: flex;

margin:auto auto auto 20em;
text-align: center;
 
  justify-content: space-around; 
  
   align-items: flex-start;

  
}
.container div{
  margin:9em 0 0 30px;
}


.container-1 {
  
  width: 230px;
  height: 250px;
  border: 1px solid white;
  border-radius: 4px;
  

}



.container-2 {
  
  width: 230px;
  height: 250px;
  border: 1px solid white;
  border-radius: -1px;
  /* float: left; */
}


.container-3 {
  
  width: 230px;
  height: 250px;
  border: 1px solid white;
  border-radius: 4px;
  /* float: left; */
 
}
img {
  width: 220px;
  height: 220px
}
  

 .h2{
  
 
 font-family: Arial, Helvetica, sans-serif;
 
 
 }




footer{
  position: absolute;
  bottom: 2%;
  width: 100%;
  font-size: 20px;
}  

